body {
  font-family: 'Slabo 27px', serif;
}

#mainPic {
  width: 70%;
}

#section1 {
  height: 100vh;
}

 .proj-img {
   width: auto;
   height: 230px;
 }

 .quotes {
   visibility: none;
 }

 .nav-wrapper {
   padding-left: 1%;
   padding-right: 1%;
 }
