body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

h1 {
  font-size: 35pt;
  margin-bottom: 1rem;
}

h2 {
  font-size: 20pt;
  margin-bottom: 0px;
  font-weight: 300;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 10px 1em;
  font-size: 16pt;
  font-weight: 300;
}

li::before {
  content: "\2014\a0";
}

.row {
  margin-bottom: 0px;
}

.left-side {
  height: 110vh;
  background: url('../images/central-park.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -10vw 40%;
  background-size: cover;
}

.gradiented-text {
  background: linear-gradient(#039be5, #ff00be);
  background: webkit-linear-gradient(#039be5, #ff00be);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.links-list {
  font-size: 22pt;
}

.links-list > a {
  margin-right: .5em;
}
