body {
  font-family: 'Slabo 27px', serif;
}

#mainPic {
  width: 70%;
}

#section1 {
  height: 100vh;
}

 .proj-img {
   width: auto;
   height: 230px;
 }

 .quotes {
   visibility: none;
 }

 nav ul a {
   color: black;
   font-size: 18pt;
 }

 i.icon-black {
    color: black;
}
