body {
    font-family: "Times New Roman", helvetica, sans-serif, arial;
    font-size: 14pt;
    color: white;
    background-color: #272722;
    text-align: left;
}
a{
	color: yellow;
	font-style: italic;
	text-align: center;
	width: 5px;
	font-size: 18pt;
}
h1{
	color: yellow;
	text-align: center;
    margin: 20px;
    padding: 20px;
    border-style: groove;
    border-width: 8px;
    border-left-width: 15px;
    border-right-width: 15px;
    border-color: gray;
    font-family: "Arial Bold","Berlin Sans", helvetica;
}
h2{
	text-align: center;
	color: white;
	background-color: #00002A;
}
p{
	text-align: left;
	font-size: 16pt;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom: 3px;
}
table{
	font-size: 16pt;
	border-spacing: 20px 10px;
	text-align: left;
}
h3{
	font-size: 25pt;
	text-align: center;
	font-style: italic;
}
div.head{
	font-size: 20pt;
}
ul{
	text-align: center;
	font-size: 18pt;
}
ul.contact{
	text-align: center;
	list-style-type: none;
	font-size: 18pt;
}
h4{
	font-size: 20pt;
	text-align: left;
	font-style: italic;
}
ul.skills{
	text-align: left;
	font-size: 16pt;
}
img.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.me{
	float: right;
}