body {
    font-family: 'Montserrat', 'Helvetica', -apple-system;
    background-color: #5d9cfb;
    color: white;
    margin: 0;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

main {
    flex: 1 0 auto;
    display: flex;
}

h1 {
    font-size: 2.441rem;
}

a {
    color: #891F76;
    font-weight: bold;
}